/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------*/
/*Settings*/
/*
* PANELS
*/
html {
  overflow-x: hidden; }

.flex-h-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

body {
  font-family: 'Open Sans', sans-serif;
  text-align: left; }

section {
  margin: 10px 0;
  padding: 10px 0; }
  @media screen and (min-width: 48em) {
    section {
      margin: 20px 0;
      padding: 20px 0; } }
  @media screen and (min-width: 75em) {
    section {
      padding: 56px 0; } }

p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Kodchasan', sans-serif; }
  @media screen and (min-width: 62em) {
    p {
      font-size: 24px; } }

h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 32px;
  text-align: center; }
  @media screen and (min-width: 62em) {
    h2 {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 42px;
      text-align: left; } }

h3 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px; }
  @media screen and (min-width: 62em) {
    h3 {
      font-size: 35px; } }

li {
  list-style: none;
  margin: 0 0 32px 0;
  font-size: 16px; }
  @media screen and (min-width: 62em) {
    li {
      font-size: 20px; } }

a {
  color: #6cbfe7; }

img {
  text-align: center;
  margin: 0 auto;
  display: block;
  float: none;
  width: 100%; }

#header {
  padding: 0;
  margin: 0;
  background-image: url("../images/header_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 30%; }
  #header h3 {
    margin: 0; }
  #header .logo {
    margin-bottom: 0px; }
    @media screen and (min-width: 75em) {
      #header .logo {
        margin-bottom: 60px; } }
    #header .logo img {
      float: left;
      width: 100%;
      max-width: 260px;
      margin: 45px 0; }

#intro::before {
  content: " ";
  background-image: url(" ");
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 372px;
  background-position: left center;
  position: absolute;
  width: 100%;
  left: 6%;
  margin-top: 0%; }
  @media screen and (min-width: 75em) {
    #intro::before {
      background-image: url("../images/gotero.png"); } }
#intro .container h2 {
  color: #6cbfe7;
  text-align: left; }
  @media screen and (min-width: 75em) {
    #intro .container h2 {
      text-align: right; } }
#intro .container .img img {
  display: inherit;
  max-width: 664px; }
  @media screen and (min-width: 75em) {
    #intro .container .img img {
      display: none; } }
@media screen and (min-width: 75em) {
  #intro .container .text {
    padding: 4% 0 0 101px; } }

#sabor {
  background-image: url("../images/sabor_bg.png");
  background-size: 264px auto;
  background-repeat: no-repeat;
  height: 290px;
  background-position: right 70px; }
  @media screen and (min-width: 75em) {
    #sabor {
      background-size: auto 100%;
      height: 496px;
      background-position: 84% center; } }

#como .container::before {
  content: " ";
  background-image: url(" ");
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 465px;
  background-position: right center;
  position: absolute;
  width: 100%;
  right: 15%;
  margin-top: 5%; }
  @media screen and (min-width: 75em) {
    #como .container::before {
      background-image: url("../images/cuadro_bebe.png"); } }
#como .container .img {
  display: inherit; }
  @media screen and (min-width: 75em) {
    #como .container .img {
      display: none; } }
  #como .container .img img {
    width: 65%;
    max-width: 664px; }
    @media screen and (min-width: 75em) {
      #como .container .img img {
        width: 100%; } }
#como .container #tabla {
  margin: 12px auto; }
#como .container h3 {
  color: #526bb0; }
#como .container p {
  color: #526bb0;
  font-size: 24px; }

#diseno h2 {
  color: #6cbfe7;
  text-align: left;
  padding: 0 0 0 0%; }
  @media screen and (min-width: 62em) {
    #diseno h2 {
      text-align: right;
      padding: 0 0 0 10%; } }
#diseno img {
  width: 46%;
  max-width: 249px; }
  @media screen and (min-width: 62em) {
    #diseno img {
      width: 100%; } }
#diseno p.small {
  color: #f9a74e;
  font-size: 18px;
  line-height: 16pt;
  text-align: left; }
  @media screen and (min-width: 62em) {
    #diseno p.small {
      text-align: right; } }

#via .container::before {
  content: " ";
  background-image: url(" ");
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 486px;
  background-position: left center;
  position: absolute;
  width: 50%;
  left: 12%;
  margin-top: 0%; }
  @media screen and (min-width: 75em) {
    #via .container::before {
      background-image: url("../images/cuadro_bebeymama.png"); } }
#via .container .img img {
  width: 65%;
  max-width: 725px;
  display: inherit; }
  @media screen and (min-width: 75em) {
    #via .container .img img {
      width: 100%;
      display: none; } }
#via .container h2 {
  color: #9ccbae; }
#via .container h3 {
  color: #526bb0; }
#via .container p {
  color: #526bb0;
  text-align: left;
  font-size: 16px; }
  #via .container p.small {
    color: #f9a74e;
    font-size: 18px;
    line-height: 16pt; }

#contraindicaciones .container {
  text-align: left; }
  #contraindicaciones .container::before {
    content: " ";
    background-image: url(" ");
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 540px;
    background-position: right center;
    position: absolute;
    width: 100%;
    right: 15%;
    margin-top: -7%; }
    @media screen and (min-width: 75em) {
      #contraindicaciones .container::before {
        background-image: url("../images/cuadro_bebemusica.png"); } }
  #contraindicaciones .container .img {
    display: inherit; }
    @media screen and (min-width: 75em) {
      #contraindicaciones .container .img {
        display: none; } }
    #contraindicaciones .container .img img {
      width: 65%;
      max-width: 664px; }
      @media screen and (min-width: 75em) {
        #contraindicaciones .container .img img {
          width: 100%; } }
  #contraindicaciones .container h2 {
    color: #6cbfe7;
    font-size: 30px; }
  #contraindicaciones .container p {
    color: #526bb0;
    font-size: 16px; }

#precauciones h2 {
  color: #526bb0;
  font-size: 30px; }
#precauciones p {
  color: #526bb0;
  font-size: 16px; }

#prefooter .container img {
  float: right; }
#prefooter .container p {
  color: #6cbfe7;
  font-weight: bold; }

.block {
  white-space: nowrap;
  height: auto; }

.block:before {
  content: '\200B';
  /*   content: '';
    margin-left: -0.25em; */
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.centered {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  width: 100%; }
  .centered .col-lg-1, .centered .col-lg-10, .centered .col-lg-11, .centered .col-lg-12, .centered .col-lg-2, .centered .col-lg-3, .centered .col-lg-4, .centered .col-lg-5, .centered .col-lg-6, .centered .col-lg-7, .centered .col-lg-8, .centered .col-lg-9, .centered .col-md-1, .centered .col-md-10, .centered .col-md-11, .centered .col-md-12, .centered .col-md-2, .centered .col-md-3, .centered .col-md-4, .centered .col-md-5, .centered .col-md-6, .centered .col-md-7, .centered .col-md-8, .centered .col-md-9, .centered .col-sm-1, .centered .col-sm-10, .centered .col-sm-11, .centered .col-sm-12, .centered .col-sm-2, .centered .col-sm-3, .centered .col-sm-4, .centered .col-sm-5, .centered .col-sm-6, .centered .col-sm-7, .centered .col-sm-8, .centered .col-sm-9, .centered .col-xs-1, .centered .col-xs-10, .centered .col-xs-11, .centered .col-xs-12, .centered .col-xs-2, .centered .col-xs-3, .centered .col-xs-4, .centered .col-xs-5, .centered .col-xs-6, .centered .col-xs-7, .centered .col-xs-8, .centered .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px; }
    @media screen and (min-width: 75em) {
      .centered .col-lg-1, .centered .col-lg-10, .centered .col-lg-11, .centered .col-lg-12, .centered .col-lg-2, .centered .col-lg-3, .centered .col-lg-4, .centered .col-lg-5, .centered .col-lg-6, .centered .col-lg-7, .centered .col-lg-8, .centered .col-lg-9, .centered .col-md-1, .centered .col-md-10, .centered .col-md-11, .centered .col-md-12, .centered .col-md-2, .centered .col-md-3, .centered .col-md-4, .centered .col-md-5, .centered .col-md-6, .centered .col-md-7, .centered .col-md-8, .centered .col-md-9, .centered .col-sm-1, .centered .col-sm-10, .centered .col-sm-11, .centered .col-sm-12, .centered .col-sm-2, .centered .col-sm-3, .centered .col-sm-4, .centered .col-sm-5, .centered .col-sm-6, .centered .col-sm-7, .centered .col-sm-8, .centered .col-sm-9, .centered .col-xs-1, .centered .col-xs-10, .centered .col-xs-11, .centered .col-xs-12, .centered .col-xs-2, .centered .col-xs-3, .centered .col-xs-4, .centered .col-xs-5, .centered .col-xs-6, .centered .col-xs-7, .centered .col-xs-8, .centered .col-xs-9 {
        padding-right: 15px;
        padding-left: 15px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  #header {
    padding: 230px 0 0 0;
    margin: 0;
    background-image: url(../images/header_bg.png);
    background-size: 690px;
    background-repeat: no-repeat;
    background-position: 83% top; } }
#footer {
  background-color: #526bb0;
  color: #fff;
  margin: 0;
  padding: 25px;
  text-align: left; }
  #footer p {
    font-size: 15px; }

/*# sourceMappingURL=style.css.map */
