/*
* PANELS
*/


html{
    overflow-x: hidden; 
}

.flex-h-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


body{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

section{
    margin: 10px 0;
    padding: 10px 0;

    @media screen and (min-width: $width-small) {
        margin: 20px 0;
        padding: 20px 0;
    }
    @media screen and (min-width: $width-large) {
        padding: 56px 0;

    }
}


p{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Kodchasan', sans-serif;

    @media screen and (min-width: $width-medium) {
       font-size: 24px;
    }
}

h2{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 32px;
    text-align: center;
    @media screen and (min-width: $width-medium) {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 42px;
        text-align: left;
    }
}

h3{
    font-size: 32px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
    @media screen and (min-width: $width-medium) {
       font-size: 35px;
    }
}

li{
    list-style: none;
    margin: 0 0 32px 0;
    font-size: 16px;
    @media screen and (min-width: $width-medium) {
        font-size: 20px;
    }
}

a{
    color: #6cbfe7;
}

img{
    text-align: center;
    margin: 0 auto;
    display: block;
    float: none;
    width: 100%;
}


#header{
    padding: 0;
    margin: 0;

    background-image: url('../images/header_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;

    h3{margin: 0;}

    .logo {
        margin-bottom: 0px;
        @media screen and (min-width: $width-large) {
            margin-bottom: 60px;
        }   
        img{
            float: left;
            width: 100%;
            max-width: 260px;
            margin: 45px 0;
        }
    }

}


#intro{
    &::before{

        content: " ";
        background-image: url(" ");
        background-size: auto 100%;
        background-repeat: no-repeat;
        height: 372px;
        background-position: left center;
        position: absolute;
        width: 100%;
        left: 6%;
        margin-top: 0%;
        @media screen and (min-width: $width-large) {
            background-image: url("../images/gotero.png");
        }   
 
    }
    .container{ 
        h2{
            color: #6cbfe7;
            text-align: left;
            @media screen and (min-width: $width-large) {
                text-align: right;
            }
        }
        .img{
            img{
                display: inherit;
                @media screen and (min-width: $width-large) {
                    display: none;
                }     
                max-width: 664px; 
            }  
        }
        .text{

            @media screen and (min-width: $width-large) {
                padding: 4% 0 0 101px;
            }
        }
    }
}

#sabor{
    background-image: url("../images/sabor_bg.png");

    background-size: 264px auto;
    background-repeat: no-repeat;
    height: 290px;
    background-position: right 70px;

    @media screen and (min-width: $width-large) {
        background-size: auto 100%;
        height: 496px;
        background-position: 84% center;
    }
}


#como{
    .container{
        &::before{
            content: " ";
            background-image: url(" ");
            background-size: auto 100%;
            background-repeat: no-repeat;
            height: 465px;
            background-position: right center;
            position: absolute;
            width: 100%;
            right: 15%;
            margin-top: 5%;
            @media screen and (min-width: $width-large) {
                background-image: url("../images/cuadro_bebe.png");
            }   
        }
        .img{
            display: inherit;
            @media screen and (min-width: $width-large) {
                display: none;
            }     
            img{
                width: 65%;
                max-width: 664px; 
                @media screen and (min-width: $width-large) {
                    width: 100%;
                }
            }  
        }

        #tabla{
            margin: 12px auto;
        }
        h3{
            color: #526bb0;
        }
        p{
            color: #526bb0;
            font-size: 24px;
        }
    }
}

#diseno{
    h2{
        color: #6cbfe7;
        text-align: left;
        padding: 0 0 0 0%;
        @media screen and (min-width: $width-medium) {
            text-align: right;
            padding: 0 0 0 10%;
        } 
    }
    img{
        width: 46%;
        max-width: 249px;
        @media screen and (min-width: $width-medium) {
            width: 100%;
        }
    }

    p{
        &.small{
            color: #f9a74e; 
            font-size: 18px;
            line-height: 16pt;
            text-align: left;
            @media screen and (min-width: $width-medium) {
                text-align: right;
            } 
        }
    }
}

#via{
    .container{
        &::before{
            content: " ";
            background-image: url(" ");
            background-size: auto 100%;
            background-repeat: no-repeat;
            height: 486px;
            background-position: left center;
            position: absolute;
            width: 50%;
            left: 12%;
            margin-top: 0%;
            @media screen and (min-width: $width-large) {
                background-image: url("../images/cuadro_bebeymama.png");
            }   
        }        
        .img{  
            img{
                width: 65%;
                max-width: 725px;
                display: inherit;
                @media screen and (min-width: $width-large) {
                    width: 100%;
                    display: none;
                }   
            }  
        }
        h2{
            color: #9ccbae;
        }
        h3{
            color: #526bb0;
        }
        p{
            color: #526bb0;
            text-align: left;
            font-size: 16px;
            &.small{
                color: #f9a74e; 
                font-size: 18px;
                line-height: 16pt;
            }
        }
    }


    
}

#contraindicaciones{
    .container{
        &::before{
            content: " ";
            background-image: url(" ");
            background-size: auto 100%;
            background-repeat: no-repeat;
            height: 540px;
            background-position: right center;
            position: absolute;
            width: 100%;
            right: 15%;
            margin-top: -7%;
            @media screen and (min-width: $width-large) {
                background-image: url("../images/cuadro_bebemusica.png");
            }   
        }
        .img{
            display: inherit;
            @media screen and (min-width: $width-large) {
                display: none;
            }     
            img{
                width: 65%;
                max-width: 664px; 
                @media screen and (min-width: $width-large) {
                    width: 100%;
                }  
            }  
        }
        text-align: left;
        h2{
            color: #6cbfe7; 
            font-size: 30px;
        }
        p{
            color: #526bb0;
            font-size: 16px;
        }
    }
}

#precauciones{
    h2{
        color: #526bb0;
        font-size: 30px;
    }
    p{
        color: #526bb0;
        font-size: 16px;
    }
}

#prefooter{
    .container{
        img{
            float: right;
        }
        p{
            color: #6cbfe7;
            font-weight: bold;
        }
    }
}


.block {
  white-space: nowrap;
  //border: #a0a0a0 solid 1px;
      height: auto;
}
 
.block:before {
  content: '\200B';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }
 
.centered {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  width: 100%;
  //border: #fff solid 1px;
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right: 0px;
    padding-left: 0px;
	    @media screen and (min-width: $width-large) {
	        padding-right: 15px;
	        padding-left: 15px;
	    }
	}
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    #header {
        padding: 230px 0 0 0;
        margin: 0;
        background-image: url(../images/header_bg.png);
        background-size: 690px;
        background-repeat: no-repeat;
        background-position: 83% top;
    }
}

#footer {
    p{
       font-size: 15px; 
    }

    background-color: #526bb0;
    color: #fff;
    margin: 0;
    padding: 25px;
    text-align: left;
}
