@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Html 5 Element
$audio-canvas-video: false; // True | False

// Fonts
$font1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: Georgia, serif;
$fontJulius: "Julius Sans One", sans-serif;


// = Colors
// -----------------------------

// Graphic chart
$color-darkpink: #bb2e44;
$color-pink: #E3ABB4;
$color-dark: #333333;

// = Responsive
// -----------------------------

$width-large: 75em; // 1200/16
$width-medium: 62em; // 992/16
$width-small: 48em; // 768/16


